
/* merriweather-sans-300 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/merriweather-sans-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-sans-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-sans-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-sans-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-sans-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-sans-v14-latin-300.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-sans-v14-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
    font-display: swap;
}

/* signika-regular - latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/signika-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/signika-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/signika-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signika-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/signika-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/signika-v12-latin-regular.svg#Signika') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* signika-300 - latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/signika-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/signika-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/signika-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signika-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/signika-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/signika-v12-latin-300.svg#Signika') format('svg'); /* Legacy iOS */
  font-display: swap;
}
