@import 'fonts.css';

body {
  float: center;
  max-width: 850px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  padding-left: 17px;
  padding-right: 34px;
}

.hdsection {
      display: block;
      background-color: white;
      height: 145px;
      border-bottom: solid;
      border-color: #d3d3d3;
      border-width: thin;
}

.sitelogo-field img {
  display: block;
  height: 155px;
  padding-top: 15px;
  margin-left: 22px;
}

p {
  color: #4a4a46;
  line-height: 36px;
  font-size: 23px;
  }

p a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #007AFC;
}

p a:hover { color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #007AFC;
}

.content a {
}

.content a:hover {
color: #007AFC;
}

.content a:active {
 color:grey;
 text-decoration: none;
}

.content img[src*="image"] {
  border-radius: 10px;
  float: right;
}

.content img[src*="image"] {
  max-width: 23%;
}

.content img[src*="image"] {
  display: block;
  margin-top: 8px;
  margin-left: 40px;
  margin-right: -40px;
  margin-bottom: 70px;
}

.content img[src*="image"]  {
  box-shadow: 0 0 10px .2px grey;
  }

.nonpost-content {
  padding: 0px 160px 40px 40px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.nonpost-content p {
  font-family: 'Alegreya Sans', sans-serif;
}

.nonpost-content h3 {
  font-size: 28px;
  font-weight: 500;
  font-style: bold;
  font-family: 'Alegreya Sans', sans-serif;
  color: ###D7DBDD;
  padding-top: 15px;
}

.post-content {
  padding: 20px 120px 30px 40px;
  float: center;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.post-content p {
  font-family: 'Alegreya Sans', sans-serif;
}

.bottomhomelinks {
  text-align: center;
  font-size: 26px;
}
.bottomhomelinks a {
  font-family: 'Alegreya Sans', sans-serif;
  color: #4a4a46;
  text-decoration: none;
  }

.bottomhomelinks a:hover {
  color:#007AFC;
  text-decoration: none;
  }

.bottomhomelinks a:active {
   color:#007AFC;
   text-decoration: none;
  }
