@import 'fonts.css';

body {
  float: center;
  max-width: 820px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  padding-left: 17px;
  padding-right: 34px;
}

.hdsection {
      width: 100%;
      display: block;
      background-color: white;
      height: 138px;
      border-bottom: solid;
      border-color: #d3d3d3;
      border-width: thin;
}

.sitelogo-field img {
      display: block;
      height: 80px;
      padding-top: 29px;
      margin-left: auto;
      margin-right: auto;
    }

.greytext {
  color: #808080;
}

.sidenav {
  float: right;
  overflow-x: hidden;
  padding: 32px 18px;
  padding-left: 26px;
  font-family: 'Bitter', san-serif;
  color: #333333;
}

.sidenav a {
 color: grey;
 text-decoration: none;
}

.sidenav a:hover {
color: grey;
text-decoration: none;
}

.sidenav a:active {
  color:#000000;
  text-decoration: none;
  }

.navtitle {
  font-size: 17px;
  line-height: 36px;
}

.smallnav {
  font-size: 16px;
  color: grey;
  line-height: 30px;
}


p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 26px;
  font-size: 16px;
  }

p a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #007AFC;
}

p a:hover { color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #007AFC;
}

.content a {
}

.content a:hover {
color:grey;
}

.content a:active {
 color:grey;
 text-decoration: none;
}

.content img[src*="image"] {
  border-radius: 10px;
  float: left;
}

.content img[src*="image"] {
  max-width: 40%;
}

.content img[src*="image"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.content img[src*="image"]  {
  box-shadow: 0 0 10px .2px grey;
  }

.post-date {
  font-size: .9rem;
  font-weight: normal;
  color: grey;
  font-family: 'NotoSans';
}

.nonpost-content {
  padding: 0px 160px 40px 30px;
  max-width: 665px;
  margin-left: auto;
  margin-right: auto;
}

.nonpost-content p {
  font-family: 'NotoSans', serif;
}

.nonpost-content h3 {
  font-size: 21px;
  font-weight: 500;
  font-style: bold;
  font-family: 'Bitter', serif;
  color: grey;
  padding-top: 20px;
}

.post-content {
  padding: 35px 160px 40px 30px;
  float: center;
  max-width: 665px;
  margin-left: auto;
  margin-right: auto;
}

.post-content p {
  font-family: 'NotoSans', serif;
}

.post-title {
  font-size: 23px;
  letter-spacing: 0.005rem;
  max-width: 580px;
  font-weight: 400;
  line-height: 34px;
  font-family: 'Bitter';
  color: #333333;
}

.post-title a {
   color: #333333;
   text-decoration: none;
  }

.post-content h3 {
  font-size: 21px;
  font-weight: 500;
  font-style: bold;
  font-family: 'Bitter', serif;
  color: grey;
}

.read-more {
  font-size: .9rem;
  font-weight: normal;
}

.read-more a {
 color:#000000;
 text-decoration: none;
}

.read-more a:hover {
color:#1E90FF;
text-decoration: none;
}

.read-more a:active {
 color:#417dc1;
 text-decoration: none;
}

.archive {
  line-height: 30px;
  padding: 21px 60px 40px 60px;
  font-family: 'Bitter'
}

.archive a {
   color: #333333;
   text-decoration: none;
  }

.archive-page-title {
  font-size: 1.4rem;
  font-weight: 400;
}

.archive__group-year-header {
  font-size: 1.25rem;
  font-weight: 400;
}

.archive__group-month-header {
    font-size: 1.25rem;
    font-weight: 400;
    color: grey;
    padding-top: 10px;
}

.archive__post-title {
    font-size: 1.2rem;
    max-width: 480px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 10px;
}

.archive__post-date {
    font-size: .9rem;
    color: grey;
}

.archive__post-read-time {
    font-size: .8rem;
}

.topic {
line-height: 30px;
padding: 21px 60px 40px 10px;
font-family: 'Bitter'
}

.topic-page-title h2 {
  font-size: 21px;
  font-weight: 500;
  font-style: bold;
  padding-left: 40px;
  font-family: 'Bitter', serif;
  color: grey;
}

.topicword {
  font-size: 19px;
  padding-top: 20px;
  padding-bottom: 10px;
}


.topic a {
   color: #333333;
   text-decoration: none;
  }

.topic-post {
      font-size: 16px;
      max-width: 380px;
  }

.topic__post-date {
      font-size: .9rem;
      color: grey;
  }


blockquote {
  width:90%;
  margin:20px auto;
  padding:0px 30px 0px 30px;
  border-left:6px solid #e5e4e2;
  line-height:27px;
  position: relative;
}

.page-nav a {
font-family: 'Bitter', serif;
 color:grey;
 text-decoration: none;
}

.page-nav a:hover {
color:#417dc1;
text-decoration: none;
}

.page-nav a:active {
 color:#417dc1;
 text-decoration: none;
}


.readings {
  font-size: 18px;
  font-weight: 600;

}

.float-container {
    padding-top: 0px;
}

.float-child1 {
    width: 45%;
    float: left;
    padding: 0px;
}

.float-child2 {
    width: 45%;
    float: right;
    padding: 0px;
}

.readings img[src*="image"] {
  border-radius: 0px;
  margin-bottom: 20px;
}

.readings img[src*="image"] {
  max-width: 60%;
  }

.readings img[src*="image"] {
  float: left;
}

.readings img[src*="image"]  {
  box-shadow: 0 0 5px .2px grey;
  }


.bottomhomelinks {
  text-align: center;
}
.bottomhomelinks a {
  font-family: 'Bitter', serif;
   color:black;
   text-decoration: none;
  }

.bottomhomelinks a:hover {
  color:#417dc1;
  text-decoration: none;
  }

.bottomhomelinks a:active {
   color:#417dc1;
   text-decoration: none;
  }


.sharing-tw {
  float:left;
  width:10%;
  overflow:hidden;
  }

.sharing-fb {
    float:left;
    width:10%;
    overflow:hidden;
  }

  .svg-icon {
    width: 1.3em;
    height: 1.3em;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }

  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  .svg-icon {
  width: 1.3em;
  height: 1.3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-icon {
  width: 1.3em;
  height: 1.3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
