/* latin */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/ptRMTiqXYfZMCOiVj9kQ1On4KCFtpe4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/ptRPTiqXYfZMCOiVj9kQ3ELaPQxPqMQ0bX8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    font-family: 'Inria Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* white background */
    font-size: 17.5px; /* default font size */
    font-weight: 300;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {

    body {
    background-color: #333333; /* Dark background */

    header h1, nav ul li a {
        color: white; /* White text color */
    }

    .bio-text {
        color: white;
      }

      .publications {
          color: white;
      }

      #vitals {
          color: white;
      }

      .publication-list h2,
      .recent-writing h2 {
          color: #81BEF7;
      }

      a {
          color: #81BEF7; /* Link color */
          text-decoration: none; /* Remove underline */
      }}

      .book-info {
        line-height: 1.6; /* adjust line height as needed */
        color: white !important; /* slightly lighter text color */
        font-size: 18px; /* default font size */
      }

      .book-info h2 {
        color: #81BEF7 !important;
        font-weight: 300 !important;
      }

  }

.container {
    max-width: 900px; /* limit width to 900 pixels */
    margin: 0 auto; /* center the container horizontally */
}

.logo-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent (usually black) */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 7px;
    position: relative; /* Ensure positioning context for the pseudo-element */
    font-weight: 300;
    color: #333; /* Set the text color */
}

header h1 {
  font-weight: lighter;
  font-size: 28px;
}

header::before {
    content: ""; /* Add content to the pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    width: 100%; /* Set the width to cover the header */
    height: 100%; /* Set the height to cover the header */
    background-image: url('images/banner5.jpg'); /* Specify the image URL */
    border-radius: 8px;
    background-size: cover; /* Ensure the image covers the entire header */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the image */
    opacity: 0.05; /* Set the opacity to 20% */
    z-index: -1; /* Ensure the pseudo-element is behind the header content */
}

figure {
    display: inline-block; /* Ensure the figure behaves as an inline-block element */
    text-align: left; /* Align the figure to the left */
    margin: 0; /* Remove any default margin */
}

figcaption {
    text-align: left; /* Center-align the caption */
    font-style: italic; /* Optionally italicize the caption */
    font-size: 14px; /* Optionally adjust the font size */
    margin-top: 5px; /* Optionally add some space between the image and the caption */
    width: 200px;
}

a {
    color: #2274A5; /* Link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: none; /* Underline on hover */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #2274A5;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333; /* dark links */
    text-decoration: none;
    font-size: 23px; /* Menu items */
}

nav ul li a.active {
      color: #2274A5;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.bio {
    width: 26%;
    padding-top: 6px;
}

.bio img {
    max-width: 42%;
    border-radius: 7px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 17px;
}

.bio-text {
    margin-right: 10px;
    font-weight: 300; /* normal font weight */
    font-style: normal; /* normal font style */
    text-rendering: optimizeLegibility;
    color: #1c1c1c; /* slightly lighter text color */
    line-height: 1.5; /* adjust line height as needed */
}

#vitals {
  padding-top: 8px;
  font-weight: 300;
  font-size: 19px;
    }

#vitals img {
   max-width: 75px;
    min-width: 50px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 25px;
    padding-right: 10px;
  }

#caption {
  font-style: italic;
  max-width: 150px;
  font-weight: 300;
  font-size: 15px; /* default font size */

}

#resource1 img {
                 max-width: 220px;
                  min-width: 40px;
                  height: auto;
                  margin-bottom: 5px;
                  margin-top: 10px;
                  padding-right: 0px;
                }

#resource2 img {
                 max-width: 235px;
                  min-width: 40px;
                  height: auto;
                  margin-bottom: 5px;
                  margin-top: 10px;
                  padding-right: 20px;
                }

#teaching1 img {
    max-width: 220px;
    min-width: 40px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-right: 20px;
                                }


.publications {
    width: 66%;
    color: #1c1c1c; /* slightly lighter text color */
}

.publication-list,
.recent-writing {
    margin-top: 20px;
}

.publication-list h2,
.recent-writing h2 {
    font-weight: 300;
    font-size: 24px; /* Headings */
    color: #2274A5;
    margin-left: 10px;

}

.publication-list ul,
.recent-writing ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.6; /* adjust line height as needed */
}

.publication-list ul li,
.recent-writing ul li {
    margin-bottom: 14px;
    margin-left: 10px;
}

.book-info {
  line-height: 1.6; /* adjust line height as needed */
  color: #1c1c1c; /* slightly lighter text color */
  font-size: 18px; /* default font size */
}

.book-info h2 {
  color: #2274A5;
  font-weight: 300 !important;
}
