/* merriweather-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/merriweather-sans-v26-latin-300.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  src: url(fonts/merriweather-sans-v26-latin-300italic.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/merriweather-sans-v26-latin-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/merriweather-sans-v26-latin-italic.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: "Merriweather Sans", serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* white background */
    font-size: 18px; /* default font size */
    font-weight: 300;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {

    body {
    background-color: #333333; /* Dark background */

    header h1, nav ul li a {
        color: white; /* White text color */
    }

    h2, h3, h4 {
      color: #81BEF7 !important;
    }

    .bio-text {
        color: white;
      }

      .post {
        color: white;
      }

      .publications {
          color: white;
      }

      #vitals {
          color: white;
          font-size: 19.4px;
      }

      .books {
        font-size: 19.4px;
      }

      .publication-list h2,
      .recent-writing h2 {
          color: #81BEF7;
      }

      a {
          color: #81BEF7; /* Link color */
          text-decoration: none; /* Remove underline */
      }}

      #coordinates {
        color: white;
      }
      
      #coordinates h3 {
        color: white !important;
      }

      .book-info {
        line-height: 1.6; /* adjust line height as needed */
        color: white !important; /* slightly lighter text color */
        font-size: 18px; /* default font size */
      }

      .book-info h2 {
        color: #81BEF7 !important;
        font-weight: 300 !important;
      }

  }


.container {
    max-width: 900px; /* limit width to 900 pixels */
    margin: 0 auto; /* center the container horizontally */
}

.logo-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent (usually black) */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 7px;
    position: relative; /* Ensure positioning context for the pseudo-element */
    font-weight: 300;
    color: #333; /* Set the text color */
}

header h1 {
  font-weight: 300;
  font-size: 32px;
}

header::before {
    content: ""; /* Add content to the pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    width: 100%; /* Set the width to cover the header */
    height: 100%; /* Set the height to cover the header */
    background-image: url('images/banner5.jpg'); /* Specify the image URL */
    border-radius: 8px;
    background-size: cover; /* Ensure the image covers the entire header */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the image */
    opacity: 0.08; /* Set the opacity to 20% */
    z-index: -1; /* Ensure the pseudo-element is behind the header content */
}

figure {
    display: inline-block; /* Ensure the figure behaves as an inline-block element */
    text-align: left; /* Align the figure to the left */
    margin: 0; /* Remove any default margin */
}

figcaption {
    text-align: left; /* Center-align the caption */
    font-style: italic; /* Optionally italicize the caption */
    font-size: 14px; /* Optionally adjust the font size */
    margin-top: 5px; /* Optionally add some space between the image and the caption */
    width: 200px;
}

a {
    color: #2274A5; /* Link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: none; /* Underline on hover */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #2274A5;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333; /* dark links */
    text-decoration: none;
    font-size: 23.5px; /* Menu items */
    font-weight: 300;
}

nav ul li a.active {
      color: #2274A5;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.post
{
    width: 180%;
    padding-right: 20px;
}

.post h2 {
    font-weight: 300;
    font-size: 28px; /* Headings */
    color: #2274A5;
    font-family: "Merriweather Sans";
    margin-right: 10px;
    line-height: 1.55em;
    width: 80%;
}

.post h3 {
    font-weight: 300;
    font-size: 24px; /* Headings */
    color: #2274A5;
    font-family: "Merriweather Sans";
    margin-right: 10px;
}

/*date*/
.post h4 {
    font-family: "Merriweather Sans";
    font-weight: 300;
    font-size: 16.5px; /* Headings */
    margin-right: 10px;
}


.post-text {
    line-height: 1.8em;
    font-size: 17.5px;
    font-family: "Merriweather Sans";
    padding-right: 40px;
    font-weight: 300;
}

.post u {
  text-decoration-thickness: 5%;
  text-underline-offset: .2em;
}

.right-index-margin
{
    line-height: 1.4em;
    width: 40%;
}

#coordinates {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 300;
}

.bio {
    width: 23%;
    padding-top: 6px;
}

.bio img {
    max-width: 42%;
    border-radius: 7px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 17px;
}

.bio-text {
    margin-right: 7px;
    font-weight: 300; /* normal font weight */
    font-style: normal; /* normal font style */
    text-rendering: optimizeLegibility;
    color: #1c1c1c; /* slightly lighter text color */
    line-height: 1.5; /* adjust line height as needed */
}

#vitals {
  padding-top: 6px;
  font-weight: 300;
  font-size: 18px !important;
    }

#vitals img {
   max-width: 75px;
    min-width: 50px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 25px;
    padding-right: 10px;
  }

#caption {
  font-style: italic;
  max-width: 150px;
  font-weight: 300;
  font-size: 15px; /* default font size */

}

#resource1 img {
                 max-width: 220px;
                  min-width: 40px;
                  height: auto;
                  margin-bottom: 5px;
                  margin-top: 10px;
                  padding-right: 0px;
                }

#resource2 img {
                 max-width: 235px;
                  min-width: 40px;
                  height: auto;
                  margin-bottom: 5px;
                  margin-top: 10px;
                  padding-right: 20px;
                }

#resource3 img {
                   max-width: 210px;
                   min-width: 40px;
                   height: auto;
                   margin-bottom: 5px;
                   margin-top: 10px;
                   padding-right: 0px;
                                }


#teaching1 img {
    max-width: 220px;
    min-width: 40px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-right: 20px;
                                }
.publications {
    width: 74%;
    color: #1c1c1c; /* slightly lighter text color */
}

.publication-list,
.recent-writing {
    margin-top: 20px;
}

/*headings in pub & res tabs*/
.publication-list h2,
.recent-writing h2 {
    font-weight: 300;
    font-size: 22px; /* Headings */
    color: #2274A5;
    margin-left: 10px;

}

.publication-list ul,
.recent-writing ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    line-height: 1.6; /* adjust line height as needed */
}

/*publication & writing titles*/
.publication-list ul li,
.recent-writing ul li {
    margin-bottom: 14px;
    margin-left: 10px;
    font-size: 17px !important;
}

/*teaching text*/
.publications-teaching ul {
  line-height: 1.7;
  font-size: 17px;
}

/*teaching headings*/
.publications-teaching, h2 {
  font-weight: 300;
  font-size: 24px;
}

.book-info {
  line-height: 1.75; /* adjust line height as needed */
  color: #1c1c1c; /* slightly lighter text color */
  font-size: 18px; /* default font size */
}

.book-info h2 {
  color: #2274A5;
  font-weight: 300 !important;
}
